{# src/Lictevel/MyceliumBundle/Resources/views/Mycelium/aPropos.html.twig #}


{% extends "LictevelMyceliumBundle::layout.html.twig" %}


{% block title %}{{ parent() }} - A propos{% endblock %}


{% block body %}

  <h1>A Propos</h1>

  <p>
    Mycelium est un jeu créé par Timon de Morel et Guillaume Lictevout pour le
    projet du cours de programmation web de Paris 7 Diderot.
  </p>


{% endblock %}
