{# src/Lictevel/MyceliumBundle/Resources/views/Mycelium/champignons.html.twig #}


{% extends "LictevelMyceliumBundle::layout.html.twig" %}


{% block title %}{{ parent() }} - Champignons {% endblock %}


{% block body %}

  <h1>Liste des champignons : </h1>

  {% if champignons is not empty %}
    {% for champignon in champignons %}
      <div class="well col-xs-3">
        <p>
          Nom : {{ champignon.name }}
          Propriétaire : {{ champignon.joueur.pseudo }}
        </p>
      </div>
    {% endfor %}
  {% else %}
    <p>Il n'y a pas d'autres champignons que les votre</p>
  {% endif %}

{% endblock %}
