{# src/Lictevel/MyceliumBundle/Resources/views/Mycelium/connexion.html.twig #}


{% extends "LictevelMyceliumBundle::layout.html.twig" %}


{% block title %}{{ parent() }} - Connexion{% endblock %}


{% block body %}

  {% for message in app.session.flashbag.get('notice') %}
    <p>Info : {{ message }} </p>
  {% endfor %}

  {{ form(form) }}

  -----------------
  Ici ce sera la page pour se connecter
  Vérifier que le joueur n'est pas déjà connecté
    Dans ce cas on le redirigera vers l'index
  -----------------


{% endblock %}
