{# src/Lictevel/MyceliumBundle/Resources/views/Mycelium/connexion.html.twig #}


{% extends "LictevelMyceliumBundle::layout.html.twig" %}


{% block title %}{{ parent() }} - Connexion{% endblock %}


{% block body %}

  <h1> Connexion </h1>

  {% for message in app.session.flashbag.get('notice') %}
    <p>Info : {{ message }} </p>
  {% endfor %}

  {{ form(form) }}

{% endblock %}
