<div class="container">

    <p>
      Nombre de joueurs inscrits : {{ joueursInscrits }} <br>
      Nombre de joueurs connectés : {{ joueursEnLigne }}
    </p>

    -----------------
    Ici on mettra un petit copyright Mycelium 2017
    On mettra aussi un lien vers A propos
    ----------------

</div>
