{# src/Lictevel/MyceliumBundle/Resources/views/Mycelium/inscription.html.twig #}


{% extends "LictevelMyceliumBundle::layout.html.twig" %}


{% block title %}{{ parent() }} - Inscription{% endblock %}


{% block body %}

  {% for message in app.session.flashbag.get('notice') %}
    <p>Erreur : {{ message }} </p>
  {% endfor %}

  {{ form(form) }}

{% endblock %}
