{# src/Lictevel/MyceliumBundle/Resources/views/Mycelium/joueurs.html.twig #}


{% extends "LictevelMyceliumBundle::layout.html.twig" %}


{% block title %}{{ parent() }} - Joueurs{% endblock %}


{% block body %}

  <h1>Liste des joueurs : </h1>

  {% if joueurs is not empty %}
    {% for joueur in joueurs %}
      <div class="well col-xs-3">
        <p>{{ joueur.pseudo }}</p> <br>
        <a class="btn btn-default" href="{{ path('lictevel_mycelium_ajouter_ami', {'id': joueur.id }) }}">Ajouter en ami</a>
      </div>
    {% endfor %}
  {% else %}
    <p>Il n'y a pas de joueurs pour cette page !</p>
  {% endif %}

{% endblock %}
