<p> {{ message }} </p>

---------------

Si le joueur est deconnecté
  On n'affiche rien

Si le joueur est connecté
Ici on aura le champignon courant en image
Ici on aura le menu avec ces liens :
  - Mes champignons
  - Mes mutations
  - Mon mycelium
  - Production (de ressource)
  - Mes défenses
  - Statistiques
---------------
(C'est dans le controleur qu'on fait tout ça)
