{# src/Lictevel/MyceliumBundle/Resources/views/Mycelium/mesAmis.html.twig #}


{% extends "LictevelMyceliumBundle::layout.html.twig" %}


{% block title %}{{ parent() }} - Mes amis{% endblock %}


{% block body %}

  <h1>Mes Amis</h1>

{% endblock %}
