{# src/Lictevel/MyceliumBundle/Resources/views/Mycelium/mesAmis.html.twig #}


{% extends "LictevelMyceliumBundle::layout.html.twig" %}


{% block title %}{{ parent() }} - Mes amis{% endblock %}


{% block body %}

  <h1>Mes Amis</h1>

  {% if amis is not empty %}
    {% for ami in amis %}
      <p>{{ ami.pseudo }}</p>
    {% endfor %}
  {% else %}
    <p>Vous n'avez pas d'amis</p>
  {% endif %}

{% endblock %}
