{# src/Lictevel/MyceliumBundle/Resources/views/Mycelium/monMycelium.html.twig #}


{% extends "LictevelMyceliumBundle::layout.html.twig" %}


{% block title %}{{ parent() }} - Mon mycelium {% endblock %}


{% block body %}

  {% for message in app.session.flashbag.get('notice') %}
    <p> {{ message }} </p>
  {% endfor %}

  <div class="col-xs-12">
    <h1>Mon Mycelium</h1>

    <a class="btn btn-default" href="{{ path('lictevel_mycelium_choisir_emplacement_mycelium') }}">Ajouter un mycelium</a>
  </div>

  {% for case in mycelium %}
    <div id="caseMyc" class="well col-xs-6 col-sm-3">
      {{ include('LictevelMyceliumBundle:Mycelium:mycelium.html.twig', { 'case': case, 'sporophore': sporophore})}}
    </div>
  {% endfor %}

{% endblock %}
