<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Mycelium</a>
    </div>

    <ul class="nav navbar-nav">
      <li><a href="#">Un</a></li>
      <li><a href="#">Deux</a></li>
      <li><a href="#">Trois</a></li>
    </ul>

  </div>
</nav>


---------------

Si deconnecté :
Ici on aura la barre de navigation avec :
  - Connexion
  - Inscription

Si connecté :
Ici on aura la barre de navigation avec :
  - Mon compte
  - Mes amis
  - Deconnexion

- Afficher l'avatar du joueur ?
---------------
(C'est dans le controleur qu'on fait tout ça)
