{# src/Lictevel/MyceliumBundle/Resources/views/Mycelium/production.html.twig #}


{% extends "LictevelMyceliumBundle::layout.html.twig" %}


{% block title %}{{ parent() }} - Production{% endblock %}


{% block body %}

  <h1>Mes productions</h1>

{% endblock %}
