{# src/Lictevel/MyceliumBundle/Resources/views/Mycelium/statistiques.html.twig #}


{% extends "LictevelMyceliumBundle::layout.html.twig" %}


{% block title %}{{ parent() }} - Statistiques{% endblock %}


{% block body %}

  <h1>Mes statistiques</h1>

  <h1>Statistiques globales</h1>

{% endblock %}
